<!DOCTYPE html>
<html lang="EN">


<head>
  <meta charset="utf-8"/>
  <!-- Latest compiled and minified CSS Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">


  <meta name="google-site-verification" content="D2glK9POAUTARGptp6KUjwu9nPzEpCEwhVBUoQlW8AA" />
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
  <meta name="description" content="A detailed list of funding schemes and opportunities for Postdoc fellowships."/>
  <meta name="keywords" content="Funding, opportunities, Postdoc, fellowships, schemes, postdoctoral, research, grants"/>
  <meta property="og:description" content="A detailed list of funding schemes and opportunities for postdoctoral fellowships." />

  <title>Funding schemes and opportunities for postdoctoral fellowships - Latin America</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Funding schemes for postdoctoral fellowships</h2>
        <p><b>
          A list of funding schemes and opportunities for postdoctoral fellowships, Created by Pablo J. Sáez  <a href="https://twitter.com/pj_saez">@pj_saez</a> & <a href="https://twitter.com/ECR_LARC">@ECR_LARC</a> & <a href="https://twitter.com/hashtag/elifeAmbassadors?src=hash">eLife Ambassadors latam </a> <a href="https://twitter.com/intent/tweet?button_hashtag=eLife Ambassadors&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="Latam #postdocs looking for funding: Go see list of #funding schemes and opportunities for postdoctoral #fellowships by @pj_saez @ECR_LARC" data-url="#" data-related="pj_saez,ECR_LARC" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          <a href="https://www.linkedin.com/sharing/share-offsite/?url=%23" class="linkedin-button" data-text="Latam #postdocs looking for funding: Go see list of #funding schemes and opportunities for postdoctoral #fellowships" data-url="#" data-lang="en">Share</a><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
          <script type="IN/Share" data-url="#"></script>
        </b></p>

          <p>We encourage the Latam scientific community to help to add new funding opportunities to the list by using the submit funding form <a href="https://goo.gl/forms/6HYlUKAFvpdZeOLB2" target="_blank">here</a>.</p>


          <!-- Nav tabs -->
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">
              <b>Funding list</b></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="list">

                <p>

                </p>
 <!-- Table panes -->
                <table id="fundingTable" class="table-hover table-bordered table-responsive">
                  <thead>
                    <tr>
                     <th>Fellowship</th>
                     <th>Funder</th>
                     <th>Applicant</th>
                     <th>Host</th>
                     <th>Scientist Status of participant</th>
                     <th>Duration (yrs)</th>
                     <th>Award</th>
                     <th>Research costs</th>
                     <th>Deadline</th>
                     <th>Comments</th>
                   </tr>
                 </thead>

                 <tbody>
                  <!-- Funding opportunites in Latam | start-->

                  <tr>
                   <td><a target="_blank" href="http://www.fmsh.fr/fr/international/28104">PREFALC</a></td>
                   <td>FMSH Fondation maison
                   des sciences de l'homme</td>
                   <td>1 French Institution + 2 Latin America or Caribbean</td>
                   <td>France, Latin America,
                   Caribbean</td>
                   <td>Researchers & staff</td>
                   <td>2 years</td>
                   <td>EUR 25,000</td>
                   <td>No</td>
                   <td>Around April</td>
                   <td>Only for researchers exchange</td>
                 </tr>

                 <tr>
                   <td><a target="_blank" href="http://www.conicyt.cl/pci/2018/04/programa-de-cooperacion-cientifica-ecos-conicyt-concurso-de-proyectos-de-intercambio-convocatoria-2018/">ECOS SUD CHILE ES</a></td>
                   <td>CONICYT-ECOS</td>
                   <td>1 Chilean Institution+ 1 French Institution</td>
                   <td>Chile, France</td>
                   <td>PhD students, postdocs</td>
                   <td>3 years</td>
                   <td>CLP 1,400,000 for trip, CLP 60,000 for daily use</td>
                   <td>No</td>
                   <td>Around May</td>
                   <td></td>
                 </tr>

                 <tr>
                   <td><a target="_blank" href="http://www.univ-paris13.fr/cofecub-ecos/ecos-sud">ECOS SUD CHILE FR</a></td>
                   <td>CONICYT-ECOS</td>
                   <td>1 Chilean Institution+ 1 French Institution</td>
                   <td>Chile, France</td>
                   <td>PhD students, postdocs</td>
                   <td>3 years</td>
                   <td>CLP 1,400,000 for trip, EUR1350 a month</td>
                   <td>No</td>
                   <td>Around May</td>
                   <td></td>
                 </tr>

               </tbody>
             </table>

             <!-- Funding opportunites in Latam | END-->
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
   <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>


   <script type="text/javascript">
            // Read table data from objects
            $(document).ready(function() {
              $('#fundingTable').DataTable({
               responsive: true,
                   //dom: 'Bfrtip',
                   buttons: [
                   'copy', 'excel', 'pdf'
                   ]
                 });
            } );
          </script>

        </body>
        </html>
